body {
  background-color: #f2f2f2;
  color: #222;
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  background-color: #1d428a;
  padding: 10px;
  color: white;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
}

nav a:hover {color: #ff671f;}

.page-content {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

section {
  flex: 1;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0;
}

h1, h2, h3, p {
  margin: 8px 0;
}

section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media only screen and (max-width:800px) {
    nav a {width: 100%;
    display: block;
    padding: 4px 0;
    margin: 0;}
    nav span {display: none;}
}