body {
  background-color: #f2f2f2;
  color: #222;
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  background-color: #1d428a;
  padding: 10px;
  color: white;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
}

nav a:hover {color: #ff671f;}

.page-content {
  display: flex;
  padding: 20px;
  gap: 30px;
  justify-content: space-between;
  align-items: stretch;
}

section {
  flex: 1;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1, h2, h3, p {
  margin: 8px 0;
}

section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#left {
  display: flex;
  flex-direction: column;
}

#left img,
section:nth-of-type(2) img {
  flex-grow: 1;
  object-fit: cover;
  align-self: stretch;
}

.bottombanner {
  background-color: #1d428a;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.nextbutton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.nextbutton:hover {
    color: #ff671f;
}

.player-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px;
}

.player-indiv {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.player-indiv h2 {
    color: #1d428a;
    margin-bottom: 10px;
}

.player-indiv img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    border-radius: 8px;
    margin: 10px 0;
}


.player-indiv p {
    color: #222;
    font-size: 15px;
    line-height: 1.4;
}

.players-banner {
    background-color: #1d428a;
    margin: 20px;
    height: 200px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
}

.banner-closer {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
}

@media (max-width: 800px) {
    .player-layout {
        grid-template-columns: 1fr;
        padding: 15px;
    }
}

@media only screen and (max-width:800px) {

    nav a {
        width: 100%;
        display: block;
        padding: 4px 0;
        margin: 0;
    }

    nav span {
        display: none;
    }
    section {
        min-height: auto;
        justify-content: flex-start;
    }

    section img {
        margin-top: 10px;
    }
}
